body{
    background-color: #000;
}
.slider {
    position: relative;
    height: 100vh;
}

.slider img{
    display: none;
}

figure img.active{
    display: inline-block;
}

i{
    color: #fff;
}

.clickable{
    cursor: pointer;
}

#slider-dots{
    width: 80px;
    background-color: #fff;
    padding: 5px;
    border-radius: 20px;
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translatex(-50%);
}

#slider-dots .dot{
    background-color: #000;
    border-radius: 50%;
    padding: 5px;
}

#slider-dots .dot.active{
    background-color: goldenrod;    
}